.allCell {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100px;
}
.cell {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}